
    /*----text font color 373F41----*/
    /* ----blue color 3C64B1 ----*/
    /*------blue color 2 #4E83E6
    /* ----apertura font weights reg: 400, med 500, bold 700, black 800-----*/
    /* ----apertura or apertura-condensed. font-style:normal;---- */

    /* ---- BASIC SETUP ---- */
    html,
    body {
    background-color: #fff;
    color: #373F41;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: auto;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    a{
        text-decoration: none;
    }
   

     /* ---- REUSABLE COMPONENTS ------------------------------------------------ */

     .row {
        max-width: 1140px;
        margin: 0 auto;
     }

     h1{
        font-family: 'Mulish', sans-serif;
        font-weight: 200;
        font-size: 300%;
        margin-bottom: 40px;
     }

    h2{
        font-family: 'Mulish';
        font-weight: 500;
        font-size: 150%;
        margin-bottom: 8px;
        
    }

    h3{
        font-family: 'Mulish';
        font-weight: 500;
        font-size: 200%;
        color: #3C64B1;
        font-weight: 600;
    }

    h4{
        font-family: 'Mulish', sans-serif;
        font-weight: 600    ;
        font-size: 140%;
        color: #373F41;
    }

    .section-header{
        display: inline-block;
        margin-left: 160px;
        margin-top: 40px;
        margin-bottom: 48px;
        border-bottom: 2px solid #3C64B1 ;
    }
     .btn-primary:link, 
     .btn-primary:visited{
         
         display:inline-block;
         padding: 16px 40px;
         font-family: apertura, sans-serif;
         font-display: normal;
         font-weight: 400;
         font-size: 80%;
         font-style: normal;
         text-decoration: none;
         background-color: #3C64B1;
         border-radius: 4px;
         color: #fff;
         transition: background-color 0.25s;

         
     }
     .btn-primary:hover,
     .btn-primary:active{
           background-color: #213f7a;  
    }

     .secondary-nav-btn:link, 
     .secondary-nav-btn:visited{
        margin-top: 80px;
        margin-left: 80px;
        display:inline-block;
        padding: 32px 32px;
        font-family: 'apertura', sans-serif;
        font-display: normal;
        font-weight: 300;
        font-size: 80%;
        
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.932);
        color: #3C64B1;
        border-radius: 4px;
        transition: background-color 0.25s;
        border: 2px solid #3C64B1;
     }
     .secondary-nav-btn:hover, 
     .secondary-nav-btn:active{
         background-color: #3C64B1;
         color: #fff;

     }
     
    .btn-thumb:link,
    .btn-thumb:visited{

        display:inline-block;
         padding: 10px 40px;
         font-family: 'apertura', sans-serif; 
         font-display: normal;
         font-weight: 400;
         font-size: 80%;
         text-decoration: none;
         background-color: #4E83E6;
         border-radius: 4px;
         color: #fff;
         transition: background-color 0.25s;
         margin-left: 40px;
         margin-top: 16px;
    }
    .btn-thumb:hover,
    .btn-thumb:active{
         background-color: #3C64B1;
    }
    .select-box{
        width: 380px;
        
    
    }
    .select-box select{
        height: 40px;
        width: 100%;
        padding: 8px 8px;
        font-family: 'Mulish', sans-serif;
        font-size: 80%;
        font-weight:300;
        border: 1px solid #373F41;
        border-radius: 4px;
        cursor: pointer;
        
    
    
    }
    .select-box :after{
    
    }

 /* ---- HEADER SECTION ------------------------------------------------ */

 header{
    background-image: url(img/hero_1.jpg);  /*header background image*/
    height: 800px;                          
    background-size: cover;
    background-position: top;
}

/*--- NAV BAR ---*/

.top-nav{
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.568);
    overflow: hidden;
    justify-content: space-between;
    border-bottom: 1px solid rgb(78, 78, 78);
    margin-bottom: 16px;
    
}

.logo{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 16px;
    height: 75px;

}

.nav-links ul li{
    display: inline-block;
    text-decoration: none;
    margin: 40px;
    font-size: 80%;
    font-weight: 500;
    
}

.top-nav ul li a:link,
.top-nav ul li a:visited{
    text-decoration: none;
    color: #373F41;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

}
.top-nav ul li a:hover{
    color: #3C64B1 ;
}

/* ---- HERO AREA ----*/
.hero-content{
    
}

.hero-text-box{                     
    width:1366px;
    margin-left: 70px;
    margin-top: 120px;
} 

.secondary-nav-btns-container{
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    background-color: #3c65b156 ;
    justify-content: center;
    padding-bottom:80px
}


/* ---- BEST SELLERS ------------------------------------------------ */

/* ---- THUMB CONTAINER ----*/
.thumb-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.thumb-txt{
    width: 268px;
    font-size: 80%;
    text-align: left;
    margin-top: 16px;
}
.product-thumb{
    cursor: pointer;
}
/* ---- THUMB MARGIN ----*/
#thumb-left{
    margin-left: 160px;
}
#thumb-right{
    margin-right: 160px;
}

/* ---- THUMB COMPONENTS ----*/
.line-1{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-right: 8px;
    margin-left: 8px;
}
.line-1 img{
    margin-right: 8px;
}

.line-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-right: 8px;
    margin-left: 8px;
    
}
.thumb-image{
    margin-bottom: 24px;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80%;
    font-weight: 700;
}

.color-circles-thumb{
    display: flex;
    flex-direction: row;

}
.thumb-red-selector{
    width: 16px;
    height: 16px;
    background-color: #AE2118;
    border-radius: 50%;
    cursor: pointer;
}
.thumb-green-selector{
    width: 16px;
    height: 16px;
    background-color: #0BB1A7;
    border-radius: 50%;
    cursor: pointer
}
.thumb-blue-selector{
    width: 16px;
    height: 16px;
    background-color: #021D87;
    border-radius: 50%;
    cursor: pointer;
}
.thumb-grey-selector{
    width: 16px;
    height: 16px;
    background-color: #605C56;
    border-radius: 50%;
    cursor: pointer;
}

/* ---- BEST SELLERS ------------------------------------------------ */

.brand-content-container{
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 40px;
    border-top: 1px solid #3C64B1;
    border-bottom: 1px solid #3C64B1;
    padding-top: 80px;

}



/* ---- PRODUCT PAGE ------------------------------------------------ */


/* ---WAYFINDING LINKS ---- */
.wayfinding{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.way-finding-txt a{
    text-decoration: none;
    font-size: 70%;
    font-family: 'Mulish';
    font-weight: 500;
    color:#373F41;
}

.way-finding-txt p{
    margin:0px 10px;

}

/* ---PROD CONTAINER---- */
.prod-page-body{
    display: flex;
    flex-direction: row;
}

/* ---PROD LEFT SIDE---- */
.prod-page-left{
    margin: 32px 32px 32px 80px;
    width: 60%;
    border-right: 1px solid rgb(78, 78, 78)
}

.product-image{
    height: 600px;
    width: 600px;

}
.little-product-image-div{
    margin: 8px 0;
}

.little-product-image{
    width: 64px;
    height:64px;
    text-decoration: none;

}

/* ---PROD RIGHT SIDE---- */

.prod-page-right{
    width: 40%;
    margin: 32px 32px 32px ;
}


/* ---PROD NAME + RATING LINE---- */

.prod-name-rating{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.rating-img{
    display: flex;
    flex-direction: row;
    margin-right: 112px;
}

.rating-img img{
    margin: 0px 4px;
}
.rating-img p{
    margin: 0px 4px;
}
#review-link-txt{
    font-family: 'Mulish';
    font-weight: 500;
}
#review-link-txt a{
    text-decoration: none;
    color: #3C64B1;
}
#rating-txt{
    font-weight: 500;
}

/* ---PROD PRICE TXT---- */

.price-txt{
    font-size: 120%;
    margin-top: 32px;
    font-weight: 500    ;
}


/* ---PROD QUANTITY---- */

.quantity{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.quantity p{
    font-size: 80%;
    font-weight: 500;
}
.quantity-counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 196px;
    
}

.quantity-counter #minus{
    margin-right: 8px;
}
.quantity-counter #plus{
    margin-left: 8px;
}

/* ---PROD COLOR---- */

.color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}
.color p{
    font-size: 80%;
    font-weight: 500;
}

.color div{
    margin: 0px 2px;
}
.color-circles{
    display: flex;
    flex-direction: row;
    margin-right: 110px !important;
}
.prod-red-selector{
    width: 32px;
    height: 32px;
    background-color: #AE2118;
    border-radius: 50%;
    cursor: pointer;
}
.prod-green-selector{
    width: 32px;
    height: 32px;
    background-color: #0BB1A7;
    border-radius: 50%;
    cursor: pointer
}
.prod-blue-selector{
    width: 32px;
    height: 32px;
    background-color: #021D87;
    border-radius: 50%;
    cursor: pointer;
}
.prod-grey-selector{
    width: 32px;
    height: 32px;
    background-color: #605C56;
    border-radius: 50%;
    cursor: pointer;
}

/* ---PROD FILL---- */
.fill-select{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    align-items: center;
}

#prod-fill-select{
    margin-bottom: 24px;
}

#prod-size-select{
    margin-bottom: 24px;
}

#info{
    padding-bottom: 24px;
    margin-left: 8px;
}
/* ---PROD BUTTON---- */
.prod-btn{
    margin-top: 64px;
}

#ship-copy{
    font-size:60%;
    margin-left: 88px;
    margin-bottom: 8px;
    font-weight: 500;
}
.btn-prod:link, 
.btn-prod:visited{
         
    display:inline-block;
    padding: 20px 112px;
    font-family: apertura, sans-serif;
    font-display: normal;
    font-weight: 400;
    font-size: 80%;
    font-style: normal;
    text-decoration: none;
    background-color: #3C64B1;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.25s;   
     }
.btn-prod:hover,
.btn-prod:active{
    background-color: #213f7a; 
 }

.prod-page-body{
    display: flex;
    flex-direction: row;
}

/* ---- PROD INFO SECTION ------------------------------------------------ */
.prod-info-section-container{
    background-color: #F3F6FA;
    padding: 48px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prod-info-right-txt{
    margin-bottom: 56px;
}

#prod-info-txt-h3{
    margin-bottom: 16px;
}

#prod-info-txt-copy{
    font-size: 80%;
}

.prod-info-right-spec{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}

.prod-info-right-spec{
    border-top: 1px solid #373F41;
    padding-top: 16px;
    border-bottom: 1px solid #373F41;
    padding-bottom: 16px;   
    cursor: pointer;
}


/* ---- PROD INFO SECTION ------------------------------------------------ */
.what-peeps-say-containter p{
    text-align: center;
}
.what-peeps-say-containter h2{
    text-align: center;
}

#testimonial-head{
    margin-top: 32px;
    margin-bottom: 8px;
}
.testimonial-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.prod-page-testimonial{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    border-top: 1px solid #3C64B1;
    border-bottom: 1px solid #3C64B1;
    padding: 32px;
}

#testimonial-left{
    margin-left: 32px;
}

#testimonial-right{
    margin-right: 32px;
}
#testimonial-middle{
    border-top: none !important;
}

/* ---TESTIMONIAL STYLE--- */
.testimonial-rating{
    text-align: center;
    margin-bottom: 16px;
    margin-top: 40px;
}   

.testimonial-title p{
    font-weight: 500;
    font-size: 120%;
    margin-bottom: 16px;
}

.testimonial-txt{
    font-size: 80%;
    margin-bottom: 40px;
    
}

.prod-page-testimonial-head{
    text-align:center;
}
















